@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Boogaloo&family=Inconsolata:wght@200..900&family=Love+Ya+Like+A+Sister&family=Mouse+Memoirs&family=Road+Rage&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Road Rage", serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2px; 
}
/* body */
body {
    background-color: black;
}
#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
/* header */
header {
    background-color: black;
    color: #DA0037;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
    margin: 0;
}
header img {
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 100%; /* Makes the image take up the full height of the header */
    object-fit: cover; /* Ensures the image covers the space properly */
}
/* video */
.video-container {
    position: relative; /* position of video buttins */
    width: 100%; 
    max-width: 800px; 
    height: auto;
    margin: 0 auto; /* middle of video */
    border-radius: 10px;
    overflow: hidden; /* hide overflow of video */
}
.welcome-video video {
    width: 100%; 
    height: auto; 
    object-fit: cover; /* fit video as container side */
    border-radius: 10px; 
    /* max-height: 400px; /* ลดความสูงของวิดีโอ */
}
/* control buttons */
.video-controls {
    position: absolute; /* make it position: relative; with container */
    bottom: 10px; /* buttons at the bottom */
    left: 50%; /* position in the center */
    transform: translateX(-50%); /* position in the center */
    display: flex; 
    gap: 10px; 
}
.video-controls button {
    padding: 10px 20px;
    margin: 0; 
    color: #FF0080;
    border: solid 1px #06D001;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: black;
}
.video-controls button:hover {
    background-color: #444444;
}

/* nav */
nav {
	background-color: #F9E400;
    font-weight: 500;
}
nav ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	display: flex;
	justify-content: center;
}
nav li {
	margin: 0;
    text-align: center;
}
nav a {
	text-decoration: none;
	color: black;
	padding: 0 0.5em 0 0.5em;
	display: block;
    transition: background-color 0.3s, color 0.3s;
    font-size: xxx-large;
    background-color: transparent; /* Default background */
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
nav h1 {
    padding: 0;
    margin: 0;
    letter-spacing: 5px; 
}
nav a:hover, #aboutMe-button:hover, footer img:hover {
    background-color: #44444488;
    color: white;
    border-radius: 15px;
    transform: scale(1.1);  /* Adds a slight scaling effect */
    cursor: pointer;
}

/* main */
main {
	flex: 1;
	padding: 1em;
    /*background-image: url(/img/bg-main.jpg);*/
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    font-size: xx-large;
}
#content {
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.myName, .education h1, .skills h1, .work-header h1, .projects h1 {
    color: #3330E4;
}
.welcome-img img {
    width: 500px;
    height: 500px;
    margin-bottom: 40px;
    padding: 10px;
}

/* page: about me */
.aboutMe-img img {
    width: 300px;
    height: 500px;
}
.aboutMe-text {
    line-height: 50px;
    text-align: center;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
}
/* page : education */
.education ul, .work ul, .skills ul, .projects ul li, .lifestyle ul li {
    list-style: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
    line-height: 1.8em;
} 
.education ul li, .skills ul li, .work ul li, .projects ul li, .lifestyle ul li {
    background-image: url(/img/star.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px; /* Adjust to give space for the custom bullet */
    background-size: 16px 16px; /* Resize the image */
}
.education img {
    width: 200px;
    height: 200px;
}
/* Page : Work Experience */
.work {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 10px 0;
}
.work-header {
    margin: 10px;
    padding: 10px;
    color: #DA0037;
    justify-content: center;
}
.work-header img {
    width: 300px;
    height: 300px;
}
/* Page : skills */
.skills {
    margin: 20px 0;
    padding: 10px 0;
    line-height: 10px;
}
/* Projects */
.projects {
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.projects-topic, h2 {
    margin: 0.5em; 
    color: #DA0037;
}
.projects-text {
    margin: 0.5em;
    text-align: center;
}
.gallery-item {
    background-color: white;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 3em;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.gallery-item a {
    display: block;
    margin-top: 10px;
    color: #059212;
    text-decoration: none;
    font-size: xxx-large;
    text-align: end;
    padding: 0.3em;
}
.gallery-item a:hover {
    text-decoration: underline;
}
/* Page : lifestyle */
.slider-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    /*border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);*/
}
.slider {
    display: flex;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    transition: 0.5s;
}
.slide img {
    width: 100%;
    border-radius: 10px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
.prev { left: 10px; }
.next { right: 10px; }
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.lifestyle-text {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: #3330E4;
}
.lifestyle-textbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}
.logo-web {
    flex: 1; /* Push to the left */
}
.logo-web img {
    width: 500px;
    height: 500px;
    border-radius: 0;
    padding: 0;
    height: auto;
}
.logo-web img:hover {
    transform: none; /* Ensure no transformation happens on hover */
    cursor: auto;
}
/* Social Media section */
.socialMedia {
    display: flex;
    flex: 3;  /* Social media takes most of the space */
    justify-content: space-around;
    align-items: flex-start;
}
.socialMedia-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Align items to the left */
}
.logo-socialMedia {
    width: 50px;
    height: 50px;
    margin-right: 10px; /* Space between icon and text */
    padding: 10px; 
    object-fit: cover;
    transition: 0.5s; /*transition: transform 0.3s ease;*/
}
.logo-socialMedia:hover {
    width: 70px;
    height: 70px;
    transition: 0.5s;
}
footer h1 {
    font-size: 24px;
    margin: 10px 0;
    display: flex;
    align-items: center; 
}
footer h1 a {
    display: flex;
    align-items: center;
}

/* RESPONSIVE DESIGN */

/* Small devices (320px to 600px) */
@media screen and (max-width: 600px) {
    /* Header adjustments */
    header img {
        padding: 5px;
        margin: 5px;
    }
    /* Navigation adjustments */
    nav ul {
        flex-direction: column;
        padding: 5px;
        margin: 5px;
    }
    nav a {
        font-size: x-large;
        padding: 0.3em;
        margin: 0.3em;
    } 
    /* Content adjustments */
    #content {
        flex-direction: column;
        padding: 10px;
    }
    .welcome-text, .work-header h1 {
        text-align: center;
    }
    .welcome-img img, .aboutMe-img img {
        width: 100%;
        height: auto;
        max-width: 300px;
        margin-bottom: 20px;
    }
    /* Education */
    .education h1 {
        text-align: center;
    }
    .education ul li, .work-details ul li {
        margin-bottom: 1em;
    }
    /* Work section */
    .work {
        flex-direction: column;
    }
    .work-header img {
        width: 200px;
        height: 200px;
    }
    /* Skills section */
    .skills h1, h2 {
        text-align: center;
    }
    .skills h2 {
        font-size: large;
    }
    /* Projects section */
    .projects {
        gap: 10px;
    }
    /* Footer adjustments */
    footer {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .logo-web img {
        width: 250px;
    }
    .socialMedia {
        flex-direction: column;
        align-items: start;
        margin-top: 20px;
    } 
    .socialMedia-column {
        align-items: center;
        margin-bottom: 15px;
    }
    /* Video controls */
    .video-controls button {
        padding: 5px 10px;
        font-size: 16px;
    }
    /* Text sizing */
    main {
        font-size: large;
    }
    .aboutMe-text {
        line-height: 30px;
        padding: 15px;
    }
    .gallery-item a {
        font-size: x-large;
    }
}

/* Medium devices (601px to 1024px) */
@media screen and (max-width: 1024px) and (min-width: 601px) {
    /* Header adjustments */
    header {
        height: auto;
    }   
    header img {
        width: 90%;
        max-height: 150px;
        object-fit: contain;
    } 
    /* Navigation adjustments */
    nav ul {
        flex-wrap: wrap;
        padding: 5px;
        margin: 5px;
    }  
    nav a {
        font-size: xx-large;
        padding: 0.3em;
    }   
    /* Main content adjustments */
    #content {
        flex-direction: column;
        padding: 15px;
    }
    .welcome-img img {
        width: 350px;
        height: 350px;
        margin-bottom: 20px;
    }  
    .welcome-text, .education h1, .work-header, .skills h1, .skills h2 {
        text-align: center;
    } 
    /* About me page */
    .aboutMe-img img {
        width: 250px;
        height: 400px;
    }   
    .aboutMe-text {
        line-height: 40px;
        padding: 20px;
        margin: 15px;
        text-align: center;
    } 
    /* Education page */
    .education ul li, .work-details ul li, .skills ul li, .skills h2, .skills h1 {
        margin-bottom: 1.5em;
    }
    .education img {
        width: 160px;
        height: 160px;
    }  
    /* Work Experience page */
    .work {
        flex-direction: column;
    } 
    .work-header img {
        width: 250px;
        height: 250px;
    }  
    /* Projects page */
    .projects {
        gap: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }   
    .gallery-item {
        width: 45%;
    }   
    .gallery-item a {
        font-size: xx-large;
    }  
    .gallery-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column; 
    }  
    /* Lifestyle page */
    .slider-container {
        width: 90%;
    }   
    .lifestyle-textbox {
        flex-direction: column;
    }   
    /* Footer adjustments */
    footer {
        flex-direction: column;
        text-align: center;
    }    
    .logo-web img {
        width: 350px;
        max-height: 350px;
        margin-bottom: 20px;
    }   
    .socialMedia {
        flex-wrap: wrap;
        justify-content: center;
    }   
    .socialMedia-column {
        margin: 0 15px;
        align-items: center;
    } 
    .logo-socialMedia {
        width: 40px;
        height: 40px;
    }
    .logo-socialMedia:hover {
        width: 55px;
        height: 55px;
    }
    footer h1 {
        font-size: 22px;
        justify-content: center;
    }
}

/* Large devices (1025px to 1800px) */
@media (min-width: 1025px) and (max-width: 1800px) {
    /* General adjustments for large devices */
    * {
        letter-spacing: 1.5px; 
    }
    /* Header adjustments */
    header img {
        max-width: 80%; 
    }
    /* Video container adjustments */
    .video-container {
        position: relative;
        width: 80%; 
        max-width: 800px;
        margin: 50px auto;
        border-radius: 10px;
        overflow: hidden;
    }
    .video-controls button {
        padding: 8px 16px; 
        font-size: 18px; 
    }
    /* Navigation adjustments */
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    }
    nav li {
        margin: 10px 0; 
        text-align: center; 
    }  
    nav a {
        text-decoration: none;
        color: black;
        padding: 10px 20px; 
        display: block;
        transition: background-color 0.3s, color 0.3s;
        font-size: xxx-large;
        background-color: transparent;
        border-radius: 10px;
    }    
    nav a:hover {
        background-color: #44444488;
        color: white;
        border-radius: 15px;
        transform: scale(1.1);
        cursor: pointer;
    } 
    nav h1 {
        margin: 0; 
    }
    /* Main content adjustments */
    main {
        padding: 1.5em; 
        font-size: x-large; 
    }
    #content {
        padding: 30px; 
    }
    .welcome-img img {
        width: 400px; 
        height: 400px;
    }
    /* About Me adjustments */
    .aboutMe-img img {
        width: 250px; 
        height: 400px;
    }
    .aboutMe-text {
        line-height: 40px; 
    }
    /* Education adjustments */
    .education img {
        width: 180px; 
        height: 180px;
    }
    /* Work Experience adjustments */
    .work-header img {
        width: 250px; 
        height: 250px;
    }
    /* Skills adjustments */
    .skills {
        line-height: 1.2em; 
    }
    /* Projects adjustments */
    .gallery-item {
        padding: 15px; 
    }
    .gallery-item a {
        font-size: x-large; 
    }
    /* Lifestyle adjustments */
    .slider-container {
        width: 90%; 
    }
    .prev, .next {
        padding: 8px; 
        font-size: 16px; 
    }
    /* Footer adjustments */
    footer {
        padding: 30px; 
    }
    .logo-web img {
        width: 400px; 
        height: 400px;
    }
    .logo-socialMedia {
        width: 45px; 
        height: 45px;
    }
    .logo-socialMedia:hover {
        width: 60px; 
        height: 60px;
    }
    footer h1 {
        font-size: 22px; 
    }
}

/* Extra large devices (above 1800px) */
@media (min-width: 1800px) {
    /* Header */
    header {
        padding: 20px 0; 
    }
    header img {
        max-width: 60%; 
    }
    /* Video section */
    .video-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;
        padding-bottom: 80px; 
    } 
    .video-controls {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
    }
    /* Navigation */
    nav {
        margin-top: 2em;
    }
    nav ul {
        padding: 20px; 
    }
    nav a {
        font-size: 2rem; 
        padding: 0 1em; 
    }
    /* Main Content */
    main {
        padding: 2em; 
        font-size: 2.5rem; 
    }
    #content {
        max-width: 1600px; 
        padding: 40px; 
    }
    .welcome-img img {
        width: 700px; 
        height: 700px;
        margin-bottom: 60px;
    }
    /* About Me */
    .aboutMe-img img {
        width: 400px; 
        height: 700px;
    }
    .aboutMe-text {
        line-height: 60px; 
        padding: 50px; 
    }
    /* Education, Skills, Work, Projects */
    .education img {
        width: 300px; 
        height: 300px;
    }
    .work-details ul li {
        margin-bottom: 1.5em;
    }
    .work-header img {
        width: 400px; 
        height: 400px;
    }
    .projects {
        gap: 30px; 
    }
    .gallery-item {
        padding: 20px; 
    }
    .gallery-item img {
        max-height: 400px; 
    }
    .gallery-item a {
        font-size: 4rem; 
        padding: 0.5em;
    }
    /* Lifestyle Slider */
    .slider-container {
        width: 70%; 
    }
    .prev, .next {
        padding: 15px 20px; 
        font-size: 24px; 
    }
    /* Footer */
    footer {
        padding: 40px; 
    }
    .logo-web img {
        width: 700px; 
        height: 700px;
    }
    .socialMedia {
        justify-content: space-evenly; 
    }
    .logo-socialMedia {
        width: 70px; 
        height: 70px;
        margin-right: 20px;
        padding: 15px;
    }
    .logo-socialMedia:hover {
        width: 90px;
        height: 90px;
    }
    footer h1 {
        font-size: 36px; 
    }
}
